@import 'tailwindcss';
@plugin "@tailwindcss/typography";
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

button {
  cursor: pointer;
}

@utility prose {
  max-width: none !important;
  ul {
    @apply ps-5;
  }
  img {
    @apply my-0;
  }
  figcaption {
    @apply my-1 text-center text-xs;
  }
  code {
    @apply rounded bg-gray-100 px-1 py-0.5 font-medium dark:bg-gray-800;
    &::before,
    &::after {
      content: none;
    }
  }
  blockquote {
    @apply text-sm font-normal not-italic opacity-70 md:text-base;
    p {
      &:first-of-type::before,
      &:last-of-type::after {
        content: none;
      }
    }
  }
}
